header {
    /* box-sizing: border-box; */
    /* background-color: brown; */
    margin: -8px;
}

header img {
    height: 100%;
    width: 100%;
    /* margin: -10px; */
    /* margin-right: -100%; */
   
}

#red_devils {
    color: red;
}

#th_dream {
    font-weight: bold;
}

table {
    border: 5px solid black;
    width: 300px;
}

td,th {
    text-align: left;
    padding: 5px;
}

footer {
    background-color: gray;
    margin: -8px;
    padding: 10px;
}